In [1]:
import pandas as pd
import datetime 
import requests
import json
from geopy.geocoders import Nominatim
import pgeocode
import numpy as np
import geocoder
import os

## Sensor Location Postcodes

In [90]:

postcodes = ['FK3 9EY', 'FY3 9XD', 'G4 9AH', 'IV3 5LD', 'IV23 2QH', 'L24 0SR','LS2 8NU', 'LU4 8QW', 'M1 1LZ','W3 0BU',
             'ME3 9UA', 'RH6 7LH', 'S5 7AA','S40 4NG', 'S75 2RQ', 'SA1 2DA', 'SA13 1LW', 'SA67 8TG', 'SE5 8TU',
             'SE10 8FF', 'SS17 0BQ', 'SW13 9SA', 'W5 1EF', 'FK3 9DA', 'G4 0PH','IG2 7QZ', 'LL13 7SF', 'N1 6HN', 
             'NG8 5GT', 'NP16 5PT', 'NP19 7XU','NR1 2HB', 'NW10 0JR', 'NW10 2UJ', 'NW10 3JJ', 'NW10 4JY','E9 6DG', 
             'OL2 7TH', 'OX1 4QD', 'OX2 6XA', 'PA15 2BX', 'PR1 5UR', 'RG6 1LD','RH11 0PX', 'RM7 0GJ', 'RM7 0SR',
             'RM17 6NF', 'S40 3AD''B1 2PR', 'B1 3RB', 'B5 7DR', 'B9 4HN', 'E1 4RD', 'E2 9HN', 'E8 2AF', 'E8 4EU', 
             'W3 0BJ', 'W3 9HW', 'G4 0QS', 'S9 1WZ', 'S1 4GT', 'N5 1PH', 'N7 9SA', 'N8 8QJ', 'N8 8NY', 'B12 0YA', 
             'B16 8DW', 'B27 7NS', 'BN7 2NZ', 'BN1 6AZ', 'BL9 8DR', 'BH7 7JY', 'BD5 8HR', 'BB1 3JP', 'BA1 6DB', 
             'B70 6DS', 'B69 4HA', 'CB2 3AH', 'BS2 8XW', 'BN9 9RU', 'BN8 5RS', 'CO2 7EX', 'CO1 2UT', 'CM2 9QR', 
             'CM2 6LQ', 'CM1 4TR', 'CM1 2QR', 'CW1 3XB', 'CV5 9HS', 'CT1 1XN', 'CR5 3EE', 'CR0 4TF', 'CR0 4TA', 
             'DN1 3AW', 'DA9 9NH', 'DA8 2EE', 'DA1 1HJ', 'EX4 3SN', 'EN3 6HQ', 'E16 1LX', 'E15 2RA', 'E14 0NF', 
             'E11 2HP', 'AL1 2QY', 'BB1 1UG', 'BD2 3PU', 'BD2 3SF', 'BD5 7BD', 'BD6 3NN', 'BD7 4HA', 'BD8 9HZ',
             'BD9 4BT', 'BD9 6LL', 'BR1 3EA', 'CB1 2XL', 'CB2 8DG', 'CR0 4JW', 'CW5 5RX', 'DA1 1EW', 'DA9 9HY', 
             'DG1 2AH', 'E13 0QE', 'E16 1TH', 'EH8 9EB', 'EH9 3AT', 'EH9 3AZ', 'EH9 3BA', 'EH9 3BB', 'WA3 5PT', 
             'SY9 5JR', 'W1B 4HY', 'WN1 1HQ', 'TF9 1HP', 'UB3 5AQ', 'W1U 5UW', 'UB7 9DL', 'W1C 2PL', 'W1K 5PF', 
             'WA5 1NS', 'WD7 9AD', 'WA8 6NL', 'TS9 7BJ', 'W10 6EE', 'TS4 2DS', 'EH9 3FG', 'EH9 3JE', 'FK8 3UU', 
             'EH9 3FF', 'HR6 8JJ', 'HX6 2SD', 'EH9 3BG', 'HP9 2NW', 'EH9 3DL', 'G63 0YA', 'IV8 8NL', 'EN1 1DJ', 
             'G82 1QU', 'FK9 5PJ', 'HU2 8DT', 'EH9 3FD', 'HU8 8JN', 'FK8 3PR', 'EH9 3JU', 'EH9 3FB', 'EH9 3BD', 
             'HA7 4RD', 'OX2 0BD', 'OX2 6GE', 'OX2 6JD', 'OX2 6PX', 'OX2 6RE', 'OX2 6RJ', 'OX2 6TJ', 'OX2 7PY', 
             'OX2 9EP', 'OX4 1XP', 'OX4 2AZ', 'OX4 2NS', 'OX4 4EF', 'OX3 7LA', 'OX3 7QH', 'OX3 7TN', 'OX2 6TU', 
             'OX2 6XN', 'OX2 7DJ', 'OX4 4JL', 'PR6 8JU', 'PR6 9DX', 'PR7 2DJ', 'PR7 2PW', 'RH6 7NU', 'S33 0AQ', 
             'S33 9HE', 'SE8 3PQ', 'SE9 2PF', 'SE9 3QJ', 'SE9 6DN', 'LA5 8EG', 'N11 2HL', 'N16 9PX', 'LS2 9JE', 
             'M45 7UU', 'LS6 2DG', 'N18 2NX', 'NW5 2HL', 'L40 5TG', 'LU2 7ND', 'M27 4JW', 'LA1 4UR', 'ME5 7EJ', 
             'N17 8AA', 'NG9 2RD', 'NW3 6JH', 'M28 2RD', 'NR1 4AW', 'KT4 8HX', 'LE1 7RJ', 'LS1 6DG', 'NG1 3DA', 
             'LE1 2DG', 'SL4 3PJ', 'SM4 5BP', 'SR3 1PD', 'SM6 0LY', 'ST3 5LT', 'SL4 5GE', 'SL6 7HL', 'SN6 8RT', 
             'SK8 3UB', 'ST5 7PA', 'SW9 7AE', 'SS0 8NB', 'ST1 1QE', 'SS9 1LT', 'SR5 2BD', 'SW8 4DU', 'SL6 1EQ', 
             'AB10 1TL', 'AB11 8AB', 'AB24 5PP', 'BH23 1PE', 'CF24 1DN', 'CF10 2DB', 'CB10 1EA', 'BN43 5DE', 
             'BN26 5QX', 'BN21 4JN', 'CO15 6BS', 'CM24 8UD', 'CM22 6SA', 'CH41 2SL', 'CV32 6DG', 'CV32 4LY', 
             'CO16 8EU', 'CO16 8ET', 'DN40 2JG', 'DN16 1TJ', 'DE14 2SQ', 'DA18 4HQ', 'DA17 6AA', 'DA15 8TQ', 
             'EX32 8EU', 'EH45 8HG', 'EH26 8PR', 'EH26 0PQ', 'BA13 4HZ', 'BD15 7PS', 'BD18 3JB', 'BS27 3HW', 
             'CB23 8EP', 'CB24 3AL', 'CB25 0BN', 'CF10 2BX', 'CH42 6PX', 'CO10 0SY', 'CV32 4HF', 'CV47 8JG',
             'EC2Y 8DP', 'EC4R 3TD', 'TN17 2EF', 'WS12 3HG', 'TS23 4DD', 'SW17 0DP', 'TN24 0SZ', 'SW16 6AQ', 
             'SW16 5QR', 'SW16 4BU', 'SW15 1SY', 'WC1B 5EG', 'TN27 8FP', 'WA16 6NW', 'WV12 5NA', 'YO10 4AP', 
             'YO30 7AG', 'WA10 1PP', 'TN14 5AX', 'TA11 7AL', 'TN14 5DH', 'TS16 0LH', 'TW11 0JY', 'YO18 8HP', 
             'WA16 6PE', 'SW15 3PP', 'TS18 1NP', 'HP21 7HH', 'FK14 7ND', 'EH17 8SD', 'EH16 5QH', 'FK18 8NJ', 
             'GU25 4HS', 'IG11 0UG', 'EH49 6AP', 'GL53 0PT', 'FK16 6BQ', 'IP17 2JT', 'EH16 5QJ', 'GL50 4EX',
             'HP10 9AW', 'EH16 5QL', 'GL53 0DQ', 'EH16 5PU', 'HP23 4ET', 'GU10 5QY', 'PH33 6XL', 'RG24 9FA', 
             'RH13 6DF', 'RH19 4QH', 'RM13 9FN', 'RM14 3PF', 'RM18 7AE', 'RM19 1SA', 'MK19 7BT', 'LS24 9RF', 
             'LS11 8QX', 'KT23 4AN', 'LS28 5DZ', 'LL14 6DY', 'NR25 7EF', 'MK43 0AY', 'MK44 1SB', 'NE34 0LY', 
             'NP11 5ES', 'ME13 7JP', 'KT11 1DZ', 'ME16 0ZR', 'LL18 6AN', 'SW11 1LN', 'SG19 3AN', 'SE10 9PA', 
             'SE18 1JY', 'SW1Y 4AU', 'SE10 0RS', 'SO20 6AD', 'SE21 7EU', 'SW1W 9NZ', 'SE14 6AA', 'SW1P 2ED', 
             'SW1V 4BJ', 'SG19 1EQ', 'SK23 7RS', 'SE15 2RW', 'SW13 9EX', 'SE18 7HR', 'SE16 2TU', 'SE10 0QE', 
             'SW15 1RB', 'SE10 0BG', 'SE23 1NQ']

postcodes = ['FK3 9EY', 'FY3 9XD', 'G4 9AH', 'IV3 5LD', 'IV23 2QH', 'L24 0SR',
       'LS2 8NU', 'LU4 8QW', 'M1 1LZ', 'ME3 9UA', 'RH6 7LH', 'S5 7AA',
       'S40 4NG', 'S75 2RQ', 'SA1 2DA', 'SA13 1LW', 'SA67 8TG', 'SE5 8TU',
       'SE10 8FF', 'SS17 0BQ', 'SW13 9SA', 'W5 1EF', 'FK3 9DA', 'G4 0PH',
       'IG2 7QZ', 'LL13 7SF', 'N1 6HN', 'NG8 5GT', 'NP16 5PT', 'NP19 7XU',
       'NR1 2HB', 'NW10 0JR', 'NW10 2UJ', 'NW10 3JJ', 'NW10 4JY',
       'OL2 7TH', 'OX1 4QD', 'OX2 6XA', 'PA15 2BX', 'PR1 5UR', 'RG6 1LD',
       'RH11 0PX', 'RM7 0GJ', 'RM7 0SR', 'RM17 6NF', 'S40 3AD']

## Extracting Weather Data

In [91]:
new_weather_data= pd.DataFrame()
def dt_datetime(dt):
    return datetime.datetime.strptime(dt, "%d/%m/%y %H:%M:%S")
def datetime_epoch(dt):
    return dt.timestamp()
for i,j in enumerate(postcodes):
    start_datetime = "01/05/22 00:00:00"
    end_datetime = "31/05/22 23:00:00"
    week_number = 1
    print(f'Extracting weather Data for: {j}')
    while(datetime_epoch(dt_datetime(start_datetime)) < datetime_epoch(dt_datetime(end_datetime))):
        #print('Week ',week_number)
        #print('Start Datetime: ',start_datetime)
        week_start_epoch = datetime_epoch(dt_datetime(start_datetime))
        week_end = dt_datetime(start_datetime)+ datetime.timedelta(hours=168)
        week_end_epoch = datetime_epoch(week_end)
        if week_end_epoch > datetime_epoch(dt_datetime(end_datetime)):
            week_end_epoch = datetime_epoch(dt_datetime(end_datetime))
        nomi = pgeocode.Nominatim('gb')
        da=nomi.query_postal_code(j)
        api_key = "fdcb3e66a02f57febe17dac02c44ed50"
        la = float(da.latitude)
        lo = float(da.longitude)
        if j == 'S5 7AA':
            la = 53.40546
            lo = -1.45549
        url ='http://history.openweathermap.org/data/2.5/history/city?lat=%s&lon=%s&start=%s&end=%s&units=metric&type=hour&appid=fdcb3e66a02f57febe17dac02c44ed50'%(la,lo,str(int(week_start_epoch)),str(int(week_end_epoch)))
        response = requests.get(url)
        pp = pd.DataFrame.from_dict(json.loads(response.text)['list'])
        dt = pp['dt'].apply(pd.Series)
        main = pp['main'].apply(pd.Series)
        wind = pp['wind'].apply(pd.Series)
        clouds = pp['clouds'].apply(pd.Series)
        weather = pp['weather'].apply(pd.Series)
        e = weather[0].apply(pd.Series)
        w1 = pd.concat([dt,main,wind,clouds,e],axis=1)
        w1.rename(columns = {0:'dt'}, inplace = True)
        w1['postcode']= postcodes[i].replace(' ','')
        new_weather_data= new_weather_data.append(w1)
        next_week_start = dt_datetime(start_datetime)+ datetime.timedelta(hours=169) 
        start_datetime = next_week_start.strftime("%d/%m/%y %H:%M:%S") 
        week_number += 1
    
new_weather_data

Extracting weather Data for: FK3 9EY
Extracting weather Data for: FY3 9XD
Extracting weather Data for: G4 9AH
Extracting weather Data for: IV3 5LD
Extracting weather Data for: IV23 2QH
Extracting weather Data for: L24 0SR
Extracting weather Data for: LS2 8NU
Extracting weather Data for: LU4 8QW
Extracting weather Data for: M1 1LZ
Extracting weather Data for: ME3 9UA
Extracting weather Data for: RH6 7LH
Extracting weather Data for: S5 7AA
Extracting weather Data for: S40 4NG
Extracting weather Data for: S75 2RQ
Extracting weather Data for: SA1 2DA
Extracting weather Data for: SA13 1LW
Extracting weather Data for: SA67 8TG
Extracting weather Data for: SE5 8TU
Extracting weather Data for: SE10 8FF
Extracting weather Data for: SS17 0BQ
Extracting weather Data for: SW13 9SA
Extracting weather Data for: W5 1EF
Extracting weather Data for: FK3 9DA
Extracting weather Data for: G4 0PH
Extracting weather Data for: IG2 7QZ
Extracting weather Data for: LL13 7SF
Extracting weather Data for: N1 6HN
Extracting weather Data for: NG8 5GT
Extracting weather Data for: NP16 5PT
Extracting weather Data for: NP19 7XU
Extracting weather Data for: NR1 2HB
Extracting weather Data for: NW10 0JR
Extracting weather Data for: NW10 2UJ
Extracting weather Data for: NW10 3JJ
Extracting weather Data for: NW10 4JY
Extracting weather Data for: OL2 7TH
Extracting weather Data for: OX1 4QD
Extracting weather Data for: OX2 6XA
Extracting weather Data for: PA15 2BX
Extracting weather Data for: PR1 5UR
Extracting weather Data for: RG6 1LD
Extracting weather Data for: RH11 0PX
Extracting weather Data for: RM7 0GJ
Extracting weather Data for: RM7 0SR
Extracting weather Data for: RM17 6NF
Extracting weather Data for: S40 3AD

,dt,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,gust,all,id,main,description,icon,postcode
0,1651359600,10.76,10.37,1019.0,95.0,9.91,11.77,3.58,208.0,9.75,100,804,Clouds,overcast clouds,04n,FK39EY
1,1651363200,10.60,10.20,1019.0,95.0,9.16,11.15,3.17,205.0,8.77,100,804,Clouds,overcast clouds,04n,FK39EY
2,1651366800,10.63,10.23,1019.0,95.0,9.99,11.15,2.94,202.0,8.36,100,804,Clouds,overcast clouds,04n,FK39EY
3,1651370400,10.54,10.13,1018.0,95.0,9.71,11.15,1.90,207.0,6.27,100,804,Clouds,overcast clouds,04n,FK39EY
4,1651374000,10.53,10.12,1018.0,95.0,9.71,11.15,0.98,196.0,1.47,100,804,Clouds,overcast clouds,04n,FK39EY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1654020000,11.80,11.05,1011.0,77.0,11.04,12.99,4.54,302.0,8.51,100,804,Clouds,overcast clouds,04d,S403AD
64,1654023600,11.27,10.52,1012.0,79.0,10.24,12.36,4.76,299.0,9.12,88,804,Clouds,overcast clouds,04d,S403AD
65,1654027200,10.59,9.79,1012.0,80.0,10.00,11.46,4.45,298.0,9.62,56,803,Clouds,broken clouds,04d,S403AD
66,1654030800,9.90,7.83,1013.0,82.0,8.97,10.53,4.11,299.0,10.14,43,802,Clouds,scattered clouds,03n,S403AD
67,1654034400,9.55,7.91,1013.0,84.0,7.78,10.53,3.10,297.0,8.18,36,802,Clouds,scattered clouds,03n,S403AD

## Saving Weather Data

In [92]:
# old_weather_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/weather_data.csv')
# weather_data = old_weather_data.append(new_weather_data).reset_index(drop=True)
# weather_data = weather_data.drop_duplicates(subset=['postcode', 'dt'], keep='last')
# weather_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/weather_data.csv',index=False)

## Reloading Weather Data

In [94]:
weather_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/weather_data.csv')

368

## Processing GIS Data

In [4]:
def dataProcess(pc_topo_bh,road_nodes):
    columns = ['OBJECTID','theme','calculatedareavalue','abshmin', 'absh2','abshmax', 'relh2', 'relhmax', 'POSTCODE']
    pc_topo_bh = pc_topo_bh[columns]
    df1 = road_nodes.drop_duplicates(subset='identifier')

    junc_count= df1.formOfNode[df1.formOfNode == 'junction'].count()
    pseudo_count = df1.formOfNode[df1.formOfNode == 'pseudo node'].count()
    road_end_count = df1.formOfNode[df1.formOfNode == 'road end'].count()
    roundabout_count = df1.formOfNode[df1.formOfNode == 'roundabout'].count()

    df2 = pc_topo_bh.groupby(['OBJECTID','theme','POSTCODE'])[['calculatedareavalue','abshmin', 'absh2','abshmax', 'relh2', 'relhmax']].mean().reset_index()
    df2['average_height'] = df2[['abshmin', 'absh2','abshmax', 'relh2', 'relhmax']].mean(axis=1)
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] <= 7)), 'building_classification'] = 'lr'
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] > 7)& (df2['average_height'] <= 18)), 'building_classification'] = 'mr'
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] > 18)& (df2['average_height'] <= 30)), 'building_classification'] = 'hr'
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] > 30)), 'building_classification'] = 'vhr'

    building_count= df2.theme[df2.theme == 'Buildings'].count()
    building_area = df2.calculatedareavalue[df2.theme == 'Buildings'].sum()
    green_area= df2.calculatedareavalue[df2.theme == 'Land'].sum()
    green_count= df2.theme[df2.theme == 'Land'].count()
    roads_tracks_area= df2.calculatedareavalue[df2.theme == 'Roads Tracks And Paths'].sum()
    roads_track_count= df2.theme[df2.theme == 'Roads Tracks And Paths'].count()
    water_area= df2.calculatedareavalue[df2.theme == 'water'].sum()
    water_count= df2.theme[df2.theme == 'water'].count()

    rail_area= df2.calculatedareavalue[df2.theme == 'rail'].sum()
    rail_count= df2.theme[df2.theme == 'rail'].count()

    no_of_lr = df2.theme[df2.building_classification == 'lr'].count()
    no_of_mr = df2.theme[df2.building_classification == 'mr'].count()
    no_of_hr = df2.theme[df2.building_classification == 'hr'].count()
    no_of_vhr = df2.theme[df2.building_classification == 'vhr'].count()

    values = {'postcode':df2.POSTCODE[1].replace(' ',''),'building_count':building_count,'no_of_lr':no_of_lr,'no_of_mr':no_of_mr,
              'no_of_hr':no_of_hr, 'no_of_vhr':no_of_vhr,'building_area':building_area,'green_area':green_area,
              'green_count':green_count,'roads_tracks_area':roads_tracks_area,'roads_track_count':roads_track_count,
              'junc_count':junc_count,'pseudo_count':pseudo_count,'road_end_count':road_end_count,'roundabout_count':roundabout_count,
             'water_area':water_area,'water_count':water_count,'rail_area':rail_area,'rail_count':rail_count}
    temp = pd.DataFrame(values, index=[0])
    
    return temp

In [5]:
# folder = '/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/all'

# my_pc = [name for name in os.listdir(folder)]
# alll = []
# for i in my_pc:
#     s = i.split('_')[1]
#     g = s.split('.')[0]
#     alll.append(g.replace(' ',''))
# alll

In [6]:
# gis_data = pd.DataFrame()
# for i in my_pc:
    
#     my_gis = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/wasiu/GIS_Data/'+i+'/data.csv').reset_index(drop=True)
#     my_rn = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/wasiu/GIS_Data/'+i+'/road_node.csv').reset_index(drop=True)
#     my_gis = my_gis.drop_duplicates(subset=['fid'],keep='last')
#     #pc_topo_bh = my_gis[my_gis.POSTCODE == i]
#     #road_nodes = my_rn[my_rn.POSTCODE == i]
#     temp = dataProcess(my_gis,my_rn)
#     gis_data = gis_data.append(temp)
    
# gis_data

In [96]:
#gis_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/wasiu/wasiu_GIS_data.csv',index=False)

In [ ]:
gis_data = pd.DataFrame()

for i in postcodes:
    pc_topo_bh = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/GIS_sensors_location/location_shape/'+str(i.replace(' ',''))+'/pc.csv')
    road_nodes = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/GIS_sensors_location/location_shape/'+str(i.replace(' ',''))+'/rn.csv')

    columns = ['OBJECTID','theme','calculatedareavalue','abshmin', 'absh2','abshmax', 'relh2', 'relhmax', 'POSTCODE']
    pc_topo_bh = pc_topo_bh[columns]
    df1 = road_nodes.drop_duplicates(subset='identifier')

    junc_count= df1.formOfNode[df1.formOfNode == 'junction'].count()
    pseudo_count = df1.formOfNode[df1.formOfNode == 'pseudo node'].count()
    road_end_count = df1.formOfNode[df1.formOfNode == 'road end'].count()
    roundabout_count = df1.formOfNode[df1.formOfNode == 'roundabout'].count()

    df2 = pc_topo_bh.groupby(['OBJECTID','theme','POSTCODE'])[['calculatedareavalue','abshmin', 'absh2','abshmax', 'relh2', 'relhmax']].mean().reset_index()
    df2['average_height'] = df2[['abshmin', 'absh2','abshmax', 'relh2', 'relhmax']].mean(axis=1)
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] <= 7)), 'building_classification'] = 'lr'
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] > 7)& (df2['average_height'] <= 18)), 'building_classification'] = 'mr'
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] > 18)& (df2['average_height'] <= 30)), 'building_classification'] = 'hr'
    df2.loc[((df2['theme'] == 'Buildings')&(df2['average_height'] > 30)), 'building_classification'] = 'vhr'

    building_count= df2.theme[df2.theme == 'Buildings'].count()
    building_area = df2.calculatedareavalue[df2.theme == 'Buildings'].sum()
    green_area= df2.calculatedareavalue[df2.theme == 'Land'].sum()
    green_count= df2.theme[df2.theme == 'Land'].count()
    roads_tracks_area= df2.calculatedareavalue[df2.theme == 'Roads Tracks And Paths'].sum()
    roads_track_count= df2.theme[df2.theme == 'Roads Tracks And Paths'].count()
    water_area= df2.calculatedareavalue[df2.theme == 'water'].sum()
    water_count= df2.theme[df2.theme == 'water'].count()

    rail_area= df2.calculatedareavalue[df2.theme == 'rail'].sum()
    rail_count= df2.theme[df2.theme == 'rail'].count()

    no_of_lr = df2.theme[df2.building_classification == 'lr'].count()
    no_of_mr = df2.theme[df2.building_classification == 'mr'].count()
    no_of_hr = df2.theme[df2.building_classification == 'hr'].count()
    no_of_vhr = df2.theme[df2.building_classification == 'vhr'].count()

    values = {'postcode':df2.POSTCODE[1].replace(' ',''),'building_count':building_count,'no_of_lr':no_of_lr,'no_of_mr':no_of_mr,
              'no_of_hr':no_of_hr, 'no_of_vhr':no_of_vhr,'building_area':building_area,'green_area':green_area,
              'green_count':green_count,'roads_tracks_area':roads_tracks_area,'roads_track_count':roads_track_count,
              'junc_count':junc_count,'pseudo_count':pseudo_count,'road_end_count':road_end_count,'roundabout_count':roundabout_count,
             'water_area':water_area,'water_count':water_count,'rail_area':rail_area,'rail_count':rail_count}
    temp = pd.DataFrame(values, index=[0])
    gis_data = gis_data.append(temp)
gis_data

## Saving GIS Data

In [64]:
previous_gis_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/previous_gis_data.csv')
new_gis_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/new_gis_data.csv')
mubashir =  pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/mubashir_GIS_data.csv')
wasiu =  pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/wasiu_GIS_data.csv')
ismail =  pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/ismail_GIS_data.csv')
habib =  pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/habib_GIS_data.csv')
drmoedeen =  pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/drmoedeen_GIS_data.csv')
razak =  pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/individual_polygons/razak_GIS_data.csv')
gis_data = pd.concat([previous_gis_data,new_gis_data,mubashir,wasiu,ismail,drmoedeen,habib,razak], axis=0)

#gis_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gis_data.csv',index=False)

## Reloading GIS Data

In [95]:
gis_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gis_data.csv')

In [96]:
gis_data

,postcode,building_count,no_of_lr,no_of_mr,no_of_hr,no_of_vhr,building_area,green_area,green_count,roads_tracks_area,roads_track_count,junc_count,pseudo_count,road_end_count,roundabout_count,water_area,water_count,rail_area,rail_count
0,AB101TL,11,0,0,11,0,1972.919204,850.923461,8,576.389088,1,4,1,0,0,0.0,0,0.0,0
1,AB118AB,10,0,0,10,0,1469.959793,768.184619,11,2487.156738,3,3,0,0,0,0.0,0,0.0,0
2,AB245PP,19,0,2,17,0,1980.854039,20209.584953,21,1672.157755,10,5,0,0,0,0.0,0,0.0,0
3,B12PR,13,0,0,0,13,652.768727,2831.574000,15,7660.899959,2,1,0,0,0,0.0,0,0.0,0
4,B13RB,11,0,0,0,11,9095.070547,9847.814705,17,1750.067664,2,1,0,0,1,0.0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,SE100BG,9,5,4,0,0,1030.441212,5054.120447,8,126.457550,1,0,0,0,2,0.0,0,0.0,0
364,SR52BD,6,0,2,4,0,348.169453,6293.158278,7,1670.807951,4,3,1,1,0,0.0,0,0.0,0
365,SE231NQ,25,0,0,25,0,2722.247518,11150.488988,24,194.365210,2,0,0,0,0,0.0,0,0.0,0
366,SW84DU,6,2,4,0,0,666.419434,1109.012800,5,889.826369,1,1,3,0,0,0.0,0,0.0,0
367,SL61EQ,2,0,0,2,0,186.665709,217.585629,2,0.000000,0,1,0,1,0,0.0,0,0.0,0

In [166]:
# pc7 = [(x[:4]+" "+x[4:]) for x in gis_data['postcode'] if len(str(x))==7 ]
# pc6 = [(x[:3]+" "+x[3:]) for x in gis_data['postcode'] if len(str(x))==6 ]
# pc5 = [(x[:2]+" "+x[2:]) for x in gis_data['postcode'] if len(str(x))==5 ]
# postcode_list = pc5+pc6+pc7
# print(postcode_list)

## Merging Weather and GIS Data

In [97]:
gis_weather_data=pd.merge(weather_data,gis_data, on='postcode')

In [105]:
gis_weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273792 entries, 0 to 273791
Data columns (total 34 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dt                 273792 non-null  int64
 1   temp               273792 non-null  float64
 2   feels_like         273792 non-null  float64
 3   pressure           273792 non-null  float64
 4   humidity           273792 non-null  float64
 5   temp_min           273792 non-null  float64
 6   temp_max           273792 non-null  float64
 7   speed              273792 non-null  float64
 8   deg                273792 non-null  float64
 9   gust               107348 non-null  float64
 10  all                273792 non-null  int64
 11  id                 273792 non-null  int64
 12  main               273792 non-null  object
 13  description        273792 non-null  object
 14  icon               273792 non-null  object
 15  postcode           273792 non-null  object
 16  building_count     273792 non-null  int64
 17  no_of_lr           273792 non-null  int64
 18  no_of_mr           273792 non-null  int64
 19  no_of_hr           273792 non-null  int64
 20  no_of_vhr          273792 non-null  int64
 21  building_area      273792 non-null  float64
 22  green_area         273792 non-null  float64
 23  green_count        273792 non-null  int64
 24  roads_tracks_area  273792 non-null  float64
 25  roads_track_count  273792 non-null  int64
 26  junc_count         273792 non-null  int64
 27  pseudo_count       273792 non-null  int64
 28  road_end_count     273792 non-null  int64
 29  roundabout_count   273792 non-null  int64
 30  water_area         273792 non-null  float64
 31  water_count        273792 non-null  int64
 32  rail_area          273792 non-null  float64
 33  rail_count         273792 non-null  int64
dtypes: float64(14), int64(16), object(4)
memory usage: 71.0+ MB

## Saving gis_weather_data

In [99]:
#gis_weather_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gis_weather_data.csv',index=False)

## Reloading gis_weather_data

In [100]:
gis_weather_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gis_weather_data.csv')

## Processing Pollutant Data

In [7]:
pollutant_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/GIS_sensors_location/selected_aqData_1.csv')
#pollutant_data['postcode']=pollutant_data['post_code'].str.replace(' ', '')
#pollutant_data = pollutant_data[['dt','date','time','dayoftheweek','postcode','latitude','longitude','PM1','PM10','PM25','AQI','NO2','O3','SO2']]
pollutant_data['datetime']=pollutant_data['date'].astype(str) + ' ' + pollutant_data['time'].astype(str)
pollutant_data['datetime'] = pd.to_datetime(pollutant_data['datetime'])
pollutant_data['datetime']=pollutant_data['datetime'].round('H')
pollutant_data['dt']=(pollutant_data['datetime'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

pollutant_data=pollutant_data[['postcode','datetime','dt','latitude', 'longitude', 'date', 'time', 'dayoftheweek',
                        'PM1', 'PM10', 'PM25', 'AQI', 'NO2', 'O3','SO2']]
pollutant_data

/opt/anaconda3/envs/DTI_Lab/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (11,12,13,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,postcode,datetime,dt,latitude,longitude,date,time,dayoftheweek,PM1,PM10,PM25,AQI,NO2,O3,SO2
18968,ME39UA,2022-01-05 19:00:00,1641409200,51.456170,0.634889,01/05/2022,19:10:15,Sunday,10.0,NaN,15.0,1.0,7.0,79.0,2.0
18970,ME39UA,2022-01-05 19:00:00,1641409200,51.456170,0.634889,01/05/2022,19:10:15,Sunday,10.0,NaN,15.0,1.0,7.0,79.0,2.0
18973,NW16TJ,2022-01-05 19:00:00,1641409200,51.522530,-0.154611,01/05/2022,19:10:15,Sunday,10.0,NaN,16.0,1.0,48.0,66.0,2.0
18976,WC1B5EG,2022-01-05 19:00:00,1641409200,51.522290,-0.125889,01/05/2022,19:10:15,Sunday,11.0,NaN,21.0,2.0,13.0,80.0,2.0
18977,WC1B5EG,2022-01-05 19:00:00,1641409200,51.522287,-0.125848,01/05/2022,19:10:15,Sunday,11.0,NaN,21.0,2.0,13.0,80.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589965,L240SR,2022-05-28 20:00:00,1653768000,53.346330,-2.844333,28/05/2022,19:48:29,Saturday,18.0,NaN,4.0,2.0,68.0,7.0,1.0
589967,SO206AD,2022-05-28 20:00:00,1653768000,51.149617,-1.438228,28/05/2022,19:48:29,Saturday,10.0,NaN,5.0,1.0,60.0,2.0,1.0
589974,BT487LH,2022-05-28 20:00:00,1653768000,55.002818,-7.331179,28/05/2022,19:48:29,Saturday,14.0,NaN,6.0,1.0,58.0,2.0,1.0
589977,WC1B5EG,2022-05-28 20:00:00,1653768000,51.522287,-0.125848,28/05/2022,19:48:29,Saturday,13.0,NaN,6.0,1.0,49.0,17.0,2.0
589985,W106EE,2022-05-28 20:00:00,1653768000,51.521050,-0.213492,28/05/2022,19:48:29,Saturday,13.0,NaN,6.0,1.0,53.0,9.0,1.0

## Saving Pollutant Data

In [106]:
#pollutant_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/pollutant_data.csv',index=False)

## Reloading Pollutant Data

In [108]:
pollutant_data= pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/pollutant_data.csv')

## Processing Traffic Data

In [321]:
traffic_data = pd.read_csv('/Users/mubashirahmad/Downloads/response_hourly.csv')
traffic_data = traffic_data[['date', ' time', ' frc', ' currentSpeed', ' freeFlowSpeed',
       ' current_freeFlowSpeed', ' currentTravelTime', ' freeFlowTravelTime',
       ' freeFlow_currentTravelTime', ' confidence', ' roadClosure', ' date_time', ' dt', 'latitude4',
       'longitude4', ' latitude', ' longitude']]
traffic_data.columns = traffic_data.columns.str.replace(' ', '')

/opt/anaconda3/envs/DTI_Lab/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (13,18,19,20,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [322]:
traffic_data

,date,time,frc,currentSpeed,freeFlowSpeed,current_freeFlowSpeed,currentTravelTime,freeFlowTravelTime,freeFlow_currentTravelTime,confidence,roadClosure,date_time,dt,latitude4,longitude4,latitude,longitude
0,2021-03-05,02:15:41.885077,FRC3,30.00,30.00,1.000000,39.00,39.0,1.000000,0.515000,0.0,NaN,NaN,56.0131,-3.7108,56.013142,-3.710833
1,2021-03-05,02:15:41.886465,FRC3,50.00,50.00,1.000000,21.00,21.0,1.000000,0.577500,0.0,NaN,NaN,51.1612,-0.1624,51.161261,-0.16241
2,2021-03-05,02:15:41.885888,FRC3,12.00,12.00,1.000000,84.00,84.0,1.000000,0.972500,0.0,NaN,NaN,51.5138,-0.0777,51.513847,-0.077766
3,2021-03-05,02:15:41.897083,FRC3,22.00,22.00,1.000000,77.00,77.0,1.000000,0.562500,0.0,NaN,NaN,55.8657,-4.2436,55.865782,-4.243631
4,2021-03-05,02:15:41.899289,FRC3,15.25,19.25,0.796711,140.25,100.0,0.794406,0.640000,0.0,NaN,NaN,51.7517,-1.2574,51.751745,-1.257463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622854,2021-06-16,12:30:45.377686,FRC3,31.75,37.00,0.858108,3060.50,2626.0,0.858192,0.994538,0.0,2021-06-16 12:30:45.379985,1.623843e+09,53.8048,-3.0071,53.804890,-3.007175
622855,2021-06-16,12:30:45.581949,FRC2,29.25,35.50,0.823810,1725.50,1420.0,0.823323,0.998484,0.0,2021-06-16 12:30:45.584876,1.623843e+09,51.5308,-0.2924,51.530850,-0.292488
622856,2021-06-16,12:30:45.599984,FRC2,18.75,25.00,0.750000,4708.50,3529.0,0.749907,1.000000,0.0,2021-06-16 12:30:45.602113,1.623843e+09,51.4016,-0.1958,51.401620,-0.195892
622857,2021-06-16,12:30:45.636225,FRC2,20.50,25.00,0.820000,5602.00,4591.0,0.820019,0.999036,0.0,2021-06-16 12:30:45.637673,1.623843e+09,51.5884,-0.3629,51.588417,-0.362989
622858,2021-06-16,12:30:45.641284,FRC4,28.00,30.00,0.933333,1721.75,1606.0,0.933367,0.877783,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [323]:

#traffic_data['datetime'] = traffic_data['date'].astype(str) + ' ' +traffic_data['time'].astype(str)
traffic_data['datetime'] = pd.to_datetime(traffic_data['date_time'])
traffic_data['datetime'] = traffic_data['datetime'].round('H')
traffic_data['dtt'] = (traffic_data['datetime'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

traffic_data['latlon'] = traffic_data['latitude'].astype(str)+','+traffic_data['longitude'].astype(str)
latlist = traffic_data.latlon.unique()

for i in latlist:
    try:
        lat = traffic_data.latitude[traffic_data.latlon == i].reset_index(drop=True)[1]
        lon = traffic_data.longitude[traffic_data.latlon == i].reset_index(drop=True)[1]
    
        response = requests.get(url='https://findthatpostcode.uk/points/'+str(lat)+','+str(lon)+'.json').json()
        npc = response['data']['relationships']['nearest_postcode']['data']['id'].replace(' ','')
#         if row.Postcode != npc:
#             print('*******ERRORRRRRRRRR******',row.Postcode,npc)
        traffic_data.loc[(traffic_data.latitude ==lat  ) & (traffic_data.longitude == lon), ['postcode']] = npc
    except:
        print(i)

traffic_data=traffic_data[['postcode','dtt','latitude', 'longitude','latitude4', 'longitude4', 'frc', 'currentSpeed', 'freeFlowSpeed',
       'current_freeFlowSpeed', 'currentTravelTime', 'freeFlowTravelTime',
       'freeFlow_currentTravelTime', 'confidence', 'roadClosure']]
traffic_data

nan,nan
50.9173964953363,-0.4508780241845722021-05-18

,postcode,dtt,latitude,longitude,latitude4,longitude4,frc,currentSpeed,freeFlowSpeed,current_freeFlowSpeed,currentTravelTime,freeFlowTravelTime,freeFlow_currentTravelTime,confidence,roadClosure
0,FK39DA,NaN,56.013142,-3.710833,56.0131,-3.7108,FRC3,30.00,30.00,1.000000,39.00,39.0,1.000000,0.515000,0.0
1,RH67NU,NaN,51.161261,-0.16241,51.1612,-0.1624,FRC3,50.00,50.00,1.000000,21.00,21.0,1.000000,0.577500,0.0
2,EC3A5DH,NaN,51.513847,-0.077766,51.5138,-0.0777,FRC3,12.00,12.00,1.000000,84.00,84.0,1.000000,0.972500,0.0
3,G40PH,NaN,55.865782,-4.243631,55.8657,-4.2436,FRC3,22.00,22.00,1.000000,77.00,77.0,1.000000,0.562500,0.0
4,OX11DE,NaN,51.751745,-1.257463,51.7517,-1.2574,FRC3,15.25,19.25,0.796711,140.25,100.0,0.794406,0.640000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622854,FY39XD,1.623848e+09,53.804890,-3.007175,53.8048,-3.0071,FRC3,31.75,37.00,0.858108,3060.50,2626.0,0.858192,0.994538,0.0
622855,W51EF,1.623848e+09,51.530850,-0.292488,51.5308,-0.2924,FRC2,29.25,35.50,0.823810,1725.50,1420.0,0.823323,0.998484,0.0
622856,SM45BP,1.623848e+09,51.401620,-0.195892,51.4016,-0.1958,FRC2,18.75,25.00,0.750000,4708.50,3529.0,0.749907,1.000000,0.0
622857,HA26EH,1.623848e+09,51.588417,-0.362989,51.5884,-0.3629,FRC2,20.50,25.00,0.820000,5602.00,4591.0,0.820019,0.999036,0.0
622858,NaN,NaN,NaN,NaN,NaN,NaN,FRC4,28.00,30.00,0.933333,1721.75,1606.0,0.933367,0.877783,0.0

In [324]:
traffic_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/full_traffic_data.csv',index=False)

In [278]:
traffic_data = pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/response_hourly.csv')
traffic_data = traffic_data.drop(columns=['Unnamed: 0','dt'])
traffic_data['datetime'] = traffic_data['date'].astype(str) + ' ' +traffic_data['time'].astype(str)
traffic_data['datetime'] = pd.to_datetime(traffic_data['datetime'])
traffic_data['datetime'] = traffic_data['datetime'].round('H')
traffic_data['dt'] = (traffic_data['datetime'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

traffic_data['latlon4'] = traffic_data['latitude4'].astype(str)+','+traffic_data['longitude4'].astype(str)
latlist = traffic_data.latlon4.unique()

for i in latlist:
    lat = traffic_data.latitude[traffic_data.latlon4 == i].reset_index(drop=True)[1]
    lon = traffic_data.longitude[traffic_data.latlon4 == i].reset_index(drop=True)[1]
    try:
        response = requests.get(url='https://findthatpostcode.uk/points/'+str(lat)+','+str(lon)+'.json').json()
        npc = response['data']['relationships']['nearest_postcode']['data']['id'].replace(' ','')
#         if row.Postcode != npc:
#             print('*******ERRORRRRRRRRR******',row.Postcode,npc)
        traffic_data.loc[(traffic_data.latitude ==lat  ) & (traffic_data.longitude == lon), ['postcode']] = npc
    except:
        print(lat, lon)

traffic_data=traffic_data[['postcode','dt','latitude', 'longitude','latitude4', 'longitude4', 'frc', 'currentSpeed', 'freeFlowSpeed',
       'current_freeFlowSpeed', 'currentTravelTime', 'freeFlowTravelTime',
       'freeFlow_currentTravelTime', 'confidence', 'roadClosure']]
traffic_data

ParserError: Error tokenizing data. C error: Expected 19 fields in line 466502, saw 56

## Saving Traffic Data

In [116]:
#traffic_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/traffic_data.csv',index=False)

## Reloading Traffic Data

In [325]:
traffic_data= pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/full_traffic_data.csv')

/opt/anaconda3/envs/DTI_Lab/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [328]:
traffic_data = traffic_data.dropna(subset=['postcode', 'dtt']).reset_index(drop=True)

## Merging Traffic and Pollutant Data

In [118]:
traffic_pollutant_data=pd.merge(pollutant_data, traffic_data, on=['postcode','dt'])
traffic_pollutant_data

,postcode,datetime,dt,latitude_x,longitude_x,date,time,dayoftheweek,PM1,PM10,...,longitude4,frc,currentSpeed,freeFlowSpeed,current_freeFlowSpeed,currentTravelTime,freeFlowTravelTime,freeFlow_currentTravelTime,confidence,roadClosure
0,OX14QD,2022-05-05 00:00:00,1651708800,51.744880,-1.260664,05/05/2022,00:16:07,Thursday,26.9,60.2,...,-1.2602,FRC3,24.0,24.0,1.0,367.0,367.0,1.0,1.0,0.0
1,OX14QD,2022-05-05 00:00:00,1651708800,51.744880,-1.260664,05/05/2022,00:16:07,Thursday,26.9,60.2,...,-1.2602,FRC3,24.0,24.0,1.0,367.0,367.0,1.0,1.0,0.0
2,OX14QD,2022-05-05 00:00:00,1651708800,51.744880,-1.260664,05/05/2022,00:16:07,Thursday,26.9,60.2,...,-1.2602,FRC3,24.0,24.0,1.0,367.0,367.0,1.0,1.0,0.0
3,OX14QD,2022-05-05 00:00:00,1651708800,51.744880,-1.260664,05/05/2022,00:16:07,Thursday,26.9,60.2,...,-1.2602,FRC3,24.0,24.0,1.0,367.0,367.0,1.0,1.0,0.0
4,OX14QD,2022-05-05 00:00:00,1651708800,51.744880,-1.260664,05/05/2022,00:16:07,Thursday,26.9,60.2,...,-1.2602,FRC3,24.0,24.0,1.0,367.0,367.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55720,S57AA,2022-05-31 23:00:00,1654038000,53.404950,-1.455815,31/05/2022,23:00:58,Tuesday,NaN,NaN,...,-1.4558,FRC3,29.0,29.0,1.0,1812.0,1812.0,1.0,1.0,0.0
55721,S57AA,2022-05-31 23:00:00,1654038000,53.404950,-1.455815,31/05/2022,23:00:58,Tuesday,NaN,NaN,...,-1.4558,FRC3,29.0,29.0,1.0,1812.0,1812.0,1.0,1.0,0.0
55722,S57AA,2022-05-31 23:00:00,1654038000,53.404950,-1.455815,31/05/2022,23:00:58,Tuesday,NaN,NaN,...,-1.4558,FRC3,29.0,29.0,1.0,1812.0,1812.0,1.0,1.0,0.0
55723,EN36HQ,2022-05-31 23:00:00,1654038000,51.668643,-0.022007,31/05/2022,23:00:58,Tuesday,NaN,NaN,...,-0.0220,FRC3,27.0,27.0,1.0,877.0,877.0,1.0,1.0,0.0
55724,EN36HQ,2022-05-31 23:00:00,1654038000,51.668643,-0.022007,31/05/2022,23:00:58,Tuesday,NaN,NaN,...,-0.0220,FRC3,27.0,27.0,1.0,877.0,877.0,1.0,1.0,0.0

## Saving Traffic Pollutant Data

In [119]:
#traffic_pollutant_data.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/traffic_pollutant_data.csv',index=False)

## Reloading Traffic Pollutant Data

In [120]:
traffic_pollutant_data= pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/traffic_pollutant_data.csv')

/opt/anaconda3/envs/DTI_Lab/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Merging GIS, Weather, Traffic, Pollutant Data

In [121]:
gwtp=pd.merge(gis_weather_data, traffic_pollutant_data, on=['postcode','dt'])
gwtp.drop_duplicates(['postcode','dt'],keep= 'last')
gwtp=gwtp[['postcode', 'dt','building_count', 'no_of_lr', 'no_of_mr', 'no_of_hr',
       'no_of_vhr', 'building_area', 'green_area', 'green_count',
       'roads_tracks_area', 'roads_track_count', 'junc_count', 'pseudo_count',
       'road_end_count', 'roundabout_count', 'water_area', 'water_count',
       'rail_area', 'rail_count',  'temp', 'feels_like', 'pressure',
       'humidity', 'temp_min', 'temp_max', 'speed', 'deg', 'gust', 'all', 'id',
       'main', 'description', 'icon', 'datetime', 'latitude_x', 'longitude_x',
       'date', 'time', 'dayoftheweek', 'PM1', 'PM10', 'PM25', 'AQI', 'NO2',
       'O3', 'SO2', 'latitude_y', 'longitude_y', 'latitude4', 'longitude4',
       'frc', 'currentSpeed', 'freeFlowSpeed', 'current_freeFlowSpeed',
       'currentTravelTime', 'freeFlowTravelTime', 'freeFlow_currentTravelTime',
       'confidence', 'roadClosure']]
gwtp

,postcode,dt,building_count,no_of_lr,no_of_mr,no_of_hr,no_of_vhr,building_area,green_area,green_count,...,longitude4,frc,currentSpeed,freeFlowSpeed,current_freeFlowSpeed,currentTravelTime,freeFlowTravelTime,freeFlow_currentTravelTime,confidence,roadClosure
0,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,-1.8750,FRC2,26.0,26.0,1.0,1540.0,1540.0,1.0,1.0,0.0
1,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,-1.8750,FRC2,26.0,26.0,1.0,1540.0,1540.0,1.0,1.0,0.0
2,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,-1.8750,FRC2,26.0,26.0,1.0,1540.0,1540.0,1.0,1.0,0.0
3,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,-1.8750,FRC2,26.0,26.0,1.0,1540.0,1540.0,1.0,1.0,0.0
4,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,-1.8750,FRC2,26.0,26.0,1.0,1540.0,1540.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53091,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,-1.4569,FRC3,39.0,39.0,1.0,1854.0,1854.0,1.0,1.0,0.0
53092,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,-1.4569,FRC3,39.0,39.0,1.0,1854.0,1854.0,1.0,1.0,0.0
53093,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,-1.4569,FRC3,39.0,39.0,1.0,1854.0,1854.0,1.0,1.0,0.0
53094,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,-1.4569,FRC3,39.0,39.0,1.0,1854.0,1854.0,1.0,1.0,0.0
53095,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,-1.4569,FRC3,39.0,39.0,1.0,1854.0,1854.0,1.0,1.0,0.0

## Saving  gwtp data

In [124]:
#gwtp.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp.csv',index=False)

## Reloading  gwtp data

In [150]:
gwtp= pd.read_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp.csv')

In [151]:
dummy_main = pd.get_dummies(gwtp.main)
dummy_description = pd.get_dummies(gwtp.description)
dummy_icon = pd.get_dummies(gwtp.icon)
dummy_dayoftheweek= pd.get_dummies(gwtp.dayoftheweek)
dummy_frc= pd.get_dummies(gwtp.frc)
gwtp_merged = pd.concat([gwtp, dummy_main,dummy_description,dummy_icon,dummy_dayoftheweek,dummy_frc], axis='columns')
gwtp_merged=gwtp_merged.drop(['main', 'description','icon','dayoftheweek','frc'], axis='columns')

## Preparing Data for Each Pollutant

In [204]:
gwtp_PM1=gwtp_merged.drop(['PM10','PM25','NO2','SO2','O3','datetime','latitude_x',
                           'longitude_x','date','time','AQI','latitude_y','longitude_y','latitude4',
                           'longitude4'], axis='columns')
gwtp_PM1['PM1'] =pd.to_numeric(gwtp_PM1['PM1'], errors ='coerce')#.fillna(np.nan) #.astype('int')
gwtp_PM1 = gwtp_PM1.dropna(subset=['PM1'])
gwtp_PM1.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_PM1.csv',index=False)
gwtp_PM1

,postcode,dt,building_count,no_of_lr,no_of_mr,no_of_hr,no_of_vhr,building_area,green_area,green_count,...,Saturday,Sunday,Thursday,Tuesday,Wednesday,FRC1,FRC2,FRC3,FRC4,FRC5
0,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
1,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
2,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
3,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
4,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53001,S403AD,1653778800,61,0,0,0,61,2581.049524,4834.711630,55,...,1,0,0,0,0,0,0,1,0,0
53002,S403AD,1653778800,61,0,0,0,61,2581.049524,4834.711630,55,...,1,0,0,0,0,0,0,1,0,0
53003,S403AD,1653782400,61,0,0,0,61,2581.049524,4834.711630,55,...,1,0,0,0,0,0,0,1,0,0
53004,S403AD,1653782400,61,0,0,0,61,2581.049524,4834.711630,55,...,1,0,0,0,0,0,0,1,0,0
53005,S403AD,1653782400,61,0,0,0,61,2581.049524,4834.711630,55,...,1,0,0,0,0,0,0,1,0,0

In [203]:
gwtp_PM10=gwtp_merged.drop(['PM1','PM25','NO2','SO2','O3','datetime','latitude_x',
                           'longitude_x','date','time','AQI','latitude_y','longitude_y','latitude4',
                           'longitude4'], axis='columns')
gwtp_PM10['PM10'] =pd.to_numeric(gwtp_PM10['PM10'], errors ='coerce')#.fillna(np.nan) #.astype('int')
gwtp_PM10 = gwtp_PM10.dropna(subset=['PM10'])
gwtp_PM10.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_PM10.csv',index=False)
gwtp_PM10

,postcode,dt,building_count,no_of_lr,no_of_mr,no_of_hr,no_of_vhr,building_area,green_area,green_count,...,Saturday,Sunday,Thursday,Tuesday,Wednesday,FRC1,FRC2,FRC3,FRC4,FRC5
0,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
1,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
2,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
3,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
4,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53091,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53092,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53093,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53094,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53095,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0

In [202]:
gwtp_PM25=gwtp_merged.drop(['PM10','PM1','NO2','SO2','O3','datetime','latitude_x',
                           'longitude_x','date','time','AQI','latitude_y','longitude_y','latitude4',
                           'longitude4'], axis='columns')
gwtp_PM25['PM25'] =pd.to_numeric(gwtp_PM25['PM25'], errors ='coerce')#.fillna(np.nan) #.astype('int')
gwtp_PM25 = gwtp_PM25.dropna(subset=['PM25'])
gwtp_PM25.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_PM25.csv',index=False)
gwtp_PM25

,postcode,dt,building_count,no_of_lr,no_of_mr,no_of_hr,no_of_vhr,building_area,green_area,green_count,...,Saturday,Sunday,Thursday,Tuesday,Wednesday,FRC1,FRC2,FRC3,FRC4,FRC5
0,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
1,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
2,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
3,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
4,B94HN,1652508000,10,0,0,0,10,3869.732350,2203.241529,6,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53091,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53092,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53093,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53094,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53095,S403AD,1653868800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0

In [201]:
gwtp_O3=gwtp_merged.drop(['PM10','PM25','NO2','SO2','PM1','datetime','latitude_x',
                           'longitude_x','date','time','AQI','latitude_y','longitude_y','latitude4',
                           'longitude4'], axis='columns')
gwtp_O3['O3'] =pd.to_numeric(gwtp_O3['O3'], errors ='coerce')#.fillna(np.nan) #.astype('int')
gwtp_O3 = gwtp_O3.dropna(subset=['O3'])
gwtp_O3.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_O3.csv',index=False)
gwtp_O3

,postcode,dt,building_count,no_of_lr,no_of_mr,no_of_hr,no_of_vhr,building_area,green_area,green_count,...,Saturday,Sunday,Thursday,Tuesday,Wednesday,FRC1,FRC2,FRC3,FRC4,FRC5
36,B94HN,1652713200,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,0,0,0,1,0,0,0
37,B94HN,1652716800,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,0,0,0,1,0,0,0
75,B94HN,1652824800,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
76,B94HN,1652824800,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
77,B94HN,1652824800,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53015,S403AD,1653793200,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53016,S403AD,1653796800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53017,S403AD,1653796800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53018,S403AD,1653796800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0
53019,S403AD,1653796800,61,0,0,0,61,2581.049524,4834.711630,55,...,0,1,0,0,0,0,0,1,0,0

In [200]:
gwtp_SO2=gwtp_merged.drop(['PM10','PM25','NO2','PM1','O3','datetime','latitude_x',
                           'longitude_x','date','time','AQI','latitude_y','longitude_y','latitude4',
                           'longitude4'], axis='columns')
gwtp_SO2['SO2'] =pd.to_numeric(gwtp_SO2['SO2'], errors ='coerce')#.fillna(np.nan) #.astype('int')
gwtp_SO2 = gwtp_SO2.dropna(subset=['SO2'])
gwtp_SO2.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_SO2.csv',index=False)
gwtp_SO2

,postcode,dt,building_count,no_of_lr,no_of_mr,no_of_hr,no_of_vhr,building_area,green_area,green_count,...,Saturday,Sunday,Thursday,Tuesday,Wednesday,FRC1,FRC2,FRC3,FRC4,FRC5
70,B94HN,1652821200,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
71,B94HN,1652821200,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
72,B94HN,1652821200,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
73,B94HN,1652821200,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
74,B94HN,1652821200,10,0,0,0,10,3869.732350,2203.241529,6,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52055,RM176NF,1653865200,30,29,1,0,0,4149.252569,19741.215853,16,...,0,1,0,0,0,0,0,1,0,0
52056,RM176NF,1653868800,30,29,1,0,0,4149.252569,19741.215853,16,...,0,1,0,0,0,0,0,1,0,0
52057,RM176NF,1653868800,30,29,1,0,0,4149.252569,19741.215853,16,...,0,1,0,0,0,0,0,1,0,0
52058,RM176NF,1653868800,30,29,1,0,0,4149.252569,19741.215853,16,...,0,1,0,0,0,0,0,1,0,0
52059,RM176NF,1653868800,30,29,1,0,0,4149.252569,19741.215853,16,...,0,1,0,0,0,0,0,1,0,0

In [198]:
gwtp_NO2=gwtp_merged.drop(['PM10','PM25','PM1','SO2','O3','datetime','latitude_x',
                           'longitude_x','date','time','AQI','latitude_y','longitude_y','latitude4',
                           'longitude4'], axis='columns')
gwtp_NO2['NO2'] =pd.to_numeric(gwtp_NO2['NO2'], errors ='coerce')#.fillna(np.nan) #.astype('int')
gwtp_NO2 = gwtp_NO2.dropna(subset=['NO2'])
gwtp_NO2.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_NO2.csv',index=False)

53096
33846

In [131]:
gwtp_PM1=gwtp_merged[['postcode','dt','datetime', 'latitude4', 'longitude4','building_count', 'no_of_lr', 'no_of_mr', 'no_of_hr',
       'no_of_vhr', 'building_area', 'green_area', 'green_count',
       'roads_tracks_area', 'roads_track_count', 'junc_count', 'pseudo_count',
       'road_end_count', 'roundabout_count', 'water_area', 'water_count',
       'rail_area', 'rail_count',  'temp', 'feels_like', 'pressure',
       'humidity', 'temp_min', 'temp_max', 'speed', 'deg', 'gust', 'all', 'id',
       'dayoftheweek', 'frc',
       'currentSpeed', 'freeFlowSpeed', 'current_freeFlowSpeed',
       'currentTravelTime', 'freeFlowTravelTime', 'freeFlow_currentTravelTime',
       'confidence', 'roadClosure', 'PM1']]
gwtp_PM1.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_PM1.csv',index=False)

gwtp_PM10=gwtp_merged[['postcode','dt','datetime', 'latitude4', 'longitude4','building_count', 'no_of_lr', 'no_of_mr', 'no_of_hr',
       'no_of_vhr', 'building_area', 'green_area', 'green_count',
       'roads_tracks_area', 'roads_track_count', 'junc_count', 'pseudo_count',
       'road_end_count', 'roundabout_count', 'water_area', 'water_count',
       'rail_area', 'rail_count',  'temp', 'feels_like', 'pressure',
       'humidity', 'temp_min', 'temp_max', 'speed', 'deg', 'gust', 'all', 'id',
       'main', 'description', 'icon', 
       'dayoftheweek', 'frc',
       'currentSpeed', 'freeFlowSpeed', 'current_freeFlowSpeed',
       'currentTravelTime', 'freeFlowTravelTime', 'freeFlow_currentTravelTime',
       'confidence', 'roadClosure', 'PM10']]
gwtp_PM10.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_PM10.csv',index=False)

gwtp_PM25=gwtp_merged[['postcode','dt','datetime', 'latitude4', 'longitude4','building_count', 'no_of_lr', 'no_of_mr', 'no_of_hr',
       'no_of_vhr', 'building_area', 'green_area', 'green_count',
       'roads_tracks_area', 'roads_track_count', 'junc_count', 'pseudo_count',
       'road_end_count', 'roundabout_count', 'water_area', 'water_count',
       'rail_area', 'rail_count',  'temp', 'feels_like', 'pressure',
       'humidity', 'temp_min', 'temp_max', 'speed', 'deg', 'gust', 'all', 'id',
       'main', 'description', 'icon', 
       'dayoftheweek', 'frc',
       'currentSpeed', 'freeFlowSpeed', 'current_freeFlowSpeed',
       'currentTravelTime', 'freeFlowTravelTime', 'freeFlow_currentTravelTime',
       'confidence', 'roadClosure', 'PM25']]
gwtp_PM25.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_PM25.csv',index=False)

gwtp_NO2=gwtp_merged[['postcode','dt','datetime', 'latitude4', 'longitude4','building_count', 'no_of_lr', 'no_of_mr', 'no_of_hr',
       'no_of_vhr', 'building_area', 'green_area', 'green_count',
       'roads_tracks_area', 'roads_track_count', 'junc_count', 'pseudo_count',
       'road_end_count', 'roundabout_count', 'water_area', 'water_count',
       'rail_area', 'rail_count',  'temp', 'feels_like', 'pressure',
       'humidity', 'temp_min', 'temp_max', 'speed', 'deg', 'gust', 'all', 'id',
       'main', 'description', 'icon', 
       'dayoftheweek', 'frc',
       'currentSpeed', 'freeFlowSpeed', 'current_freeFlowSpeed',
       'currentTravelTime', 'freeFlowTravelTime', 'freeFlow_currentTravelTime',
       'confidence', 'roadClosure', 'NO2']]
gwtp_NO2.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_NO2.csv',index=False)

gwtp_O3=gwtp_merged[['postcode','dt','datetime', 'latitude4', 'longitude4','building_count', 'no_of_lr', 'no_of_mr', 'no_of_hr',
       'no_of_vhr', 'building_area', 'green_area', 'green_count',
       'roads_tracks_area', 'roads_track_count', 'junc_count', 'pseudo_count',
       'road_end_count', 'roundabout_count', 'water_area', 'water_count',
       'rail_area', 'rail_count',  'temp', 'feels_like', 'pressure',
       'humidity', 'temp_min', 'temp_max', 'speed', 'deg', 'gust', 'all', 'id',
       'main', 'description', 'icon', 
       'dayoftheweek', 'frc',
       'currentSpeed', 'freeFlowSpeed', 'current_freeFlowSpeed',
       'currentTravelTime', 'freeFlowTravelTime', 'freeFlow_currentTravelTime',
       'confidence', 'roadClosure',  'O3']]
gwtp_O3.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_O3.csv',index=False)

gwtp_SO2=gwtp_merged[['postcode','dt','datetime', 'latitude4', 'longitude4','building_count', 'no_of_lr', 'no_of_mr', 'no_of_hr',
       'no_of_vhr', 'building_area', 'green_area', 'green_count',
       'roads_tracks_area', 'roads_track_count', 'junc_count', 'pseudo_count',
       'road_end_count', 'roundabout_count', 'water_area', 'water_count',
       'rail_area', 'rail_count',  'temp', 'feels_like', 'pressure',
       'humidity', 'temp_min', 'temp_max', 'speed', 'deg', 'gust', 'all', 'id',
       'main', 'description', 'icon', 
       'dayoftheweek', 'frc',
       'currentSpeed', 'freeFlowSpeed', 'current_freeFlowSpeed',
       'currentTravelTime', 'freeFlowTravelTime', 'freeFlow_currentTravelTime',
       'confidence', 'roadClosure', 'SO2']]
gwtp_SO2.to_csv('/Users/mubashirahmad/DTI_Lab/PASS/Pass_Processed_Data/gwtp_SO2.csv',index=False)

KeyError: "['main', 'description', 'icon', 'dayoftheweek', 'frc'] not in index"